*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    overflow-x: hidden;
}
nav{
    background-color: #000;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 3.5%;
    font-size: 22px;
    font-weight: 700;
    border-bottom: 1px solid gray;
}
section{
    height: 85vh;
    background-color: #000;
    text-align: center;
}
.head-main{
    font-size: 7rem;
    text-align: center;
    color: aliceblue;
    font-weight: 800;
    padding-top: 5%;
    letter-spacing: 8px;
}
.chain{
    letter-spacing: 0;
    background: linear-gradient(to right, rgb(230, 226, 11) , rgb(0, 255, 208));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.first-paragraph{
    position: relative;
    left: 15%;
    color: aliceblue;
    font-size: 1.3rem;
    text-align: center;
    width: 70%;
    padding: 2%;
}
.Button1{
    height: 8%;
    width: 16%;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.page-2{
    background-color:rgb(242, 242, 242);
    padding: 8%;
    height: 200vh;
}
.head{
    text-align: left;
    padding-bottom: 40px;
}
.head h1{
    font-size: 3rem;
    font-weight: 750;
}
.head p{
    font-weight: 700;
    font-size: 1.2rem;
}
.card-body{
    border: 2px solid black;
    background-color: rgb(122, 245, 184);
}
.card-footer{
    border: 2px solid black;
}
.card-header{
    border: 2px solid black;
    background-color: rgb(151, 245, 122);
}
.icon{
    border-radius: 25px;
    border: 2px solid black;
    width: 4%;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    position: relative;
    left: 55%;
}
.second{
    background-color: rgb(16, 214, 211);

}
.third{
    background-color: rgb(16, 128, 214);
}
.four{
    background-color: rgb(191, 214, 16);
}
.five{
    background-color: rgb(145, 16, 214);
}
.six{
    background-color: rgb(214, 16, 145);
}
.seven{
    background-color: rgb(214, 16, 16);
}
.eight{
        background-color: rgb(214, 79, 16);
}
